html { 
    background: url(https://user-images.githubusercontent.com/67732111/222300741-7edad52f-c189-4b6b-959c-86c80370cfe3.png) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  } 
