html { 
  background: url(file:///C:/Users/marca/Downloads/wallpaperbetter.com_1920x1080.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}