html { 
    background: url(https://user-images.githubusercontent.com/67732111/223278512-dfbc6828-4f09-4380-92c0-81db96ced142.png) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  } 
