html { 
    background: url(https://user-images.githubusercontent.com/67732111/223272884-54d2714a-b526-4c20-8a86-089319b34dab.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  } 
