html { 
    background: url(https://user-images.githubusercontent.com/67732111/223275262-8edebf5c-de81-4b9a-9f76-4f7f79b778df.png) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  } 
