html { 
    background: url(file:///C:/Users/marca/Downloads/wp10146487-the-backrooms-wallpapers.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  } 
