html { 
  background: url(https://user-images.githubusercontent.com/67732111/222299364-91131498-1b7a-4531-86ec-b2d490a72a80.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

